/* spinner de carga */

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Header styles */
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 50px;
  background-color: #eeeeee;
  position: fixed;
  z-index: 1;
  font-family: "Poppins", sans-serif;
  width: 100%;
  border-bottom: 1px rgba(88, 88, 88, 0.199) solid;
}

.headerContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.logoContainer {
  padding: 0;
  margin: 0;
  width: 150px;
}

.ContainerBTN {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
}

.login-btn {
  border-radius: 30px;
  background-color: black;
  padding: 0.6rem 1.5rem;
  width: max-content;
  font-size: 0.8rem;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  gap: 60px;
  list-style-type: none;
}

.menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu li a {
  text-decoration: none;
  color: black;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
  transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/* .ContainerBTN {
  width: min-content;
  padding: 0;
  margin: 0;
} */

.LoginMobile {
  display: none;
}

.login-btn-mobile {
  border-radius: 30px;
  background-color: black;
  color: white;
  padding: 0.6rem 1.5rem;
  width: max-content;
  font-size: 1rem;
}

@media (max-width: 900px) {
  /* Contenedor principal */

  .Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    /* Alto fijo para el contenedor */
    width: auto;
    margin: 0;
    padding: 0.5rem 0rem;
  }

  /* Menú */
  .menu {
    display: flex;
    justify-content: center;
    position: fixed;
    /* Cambiado a fixed para que cubra toda la pantalla */
    top: 0;
    /* Asegura que esté en la parte superior */
    left: 0;
    /* Alineado al borde izquierdo */
    right: 0;
    /* Alineado al borde derecho */
    background-color: #eeeeee;
    width: 100%;
    /* Asegura que ocupe todo el ancho de la pantalla */
    flex-direction: column;
    padding: 20px;
    opacity: 0;
    /* Menú oculto inicialmente */
    transform: translateX(100%);
    /* Fuera de la pantalla a la derecha */
    pointer-events: none;
    /* No es interactivo cuando está cerrado */
    height: 100vh;
    /* Menú cubriendo el 100% de la altura de la pantalla */
    gap: 30px;
    z-index: 1;
    /* Asegura que el menú esté sobre otros elementos */
  }

  .menu li a {
    font-size: 1.5rem;
    /* Tamaño de los enlaces en el menú */
    color: black;
  }

  /* Aplicar color diferente solo al último */
  .menu li:last-child a {
    color: white;
    font-size: 1rem;
  }

  /* Menú abierto */
  .menu.open {
    pointer-events: all;
    /* hace que el menu sea interactivo cuando se abre*/
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  /* Menú cerrando (salida hacia la derecha) */
  .menu.closing {
    -webkit-animation: slide-out-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-out-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  /* Animación de apertura */
  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 1;
    }

    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  /* Animación de cierre */
  @-webkit-keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }

    100% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 1;
    }
  }

  @keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }

    100% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 1;
    }
  }

  /* Botón de hamburguesa */
  .hamburger {
    /* position: fixed; */
    /* top: 20px; Espaciado superio */
    /* right: 25px;  */
    z-index: 2;
    /* Asegura que esté por encima del menú */
    cursor: pointer;
    display: block;
  }

  .hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 0;
    transition: all 0.3s ease;
    /* Animación para el ícono */
  }

  /* Logo */
  .logoContainer {
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    position: relative;
    right: auto;
    z-index: 2;
    /* Asegura que el logo esté por encima del menú */
  }

  /* Ocultar botón de login en móvil */
  .ContainerBTN {
    display: none;
  }

  .LoginMobile {
    display: contents;
  }

  .login-btn-mobile {
    border-radius: 30px;
    padding: 0.5rem 1.7rem;
    width: max-content;
    font-size: 1rem;
  }
}